@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
body{
    height: 100vh;
}

nav.menu-lateral{
    width: 80px;
    height: 100%;
    background-color: black;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0  rgba(9, 24, 157, 0.875) ;
    position: fixed;
    top: 0;
    left:0;
    overflow: hidden;
    transition: .2s;
}

nav.menu-lateral:hover{
    width: 300px;

}
.btn-expandir{
    width: 100%;
    padding-left: 10px;

}
.btn-expandir>i{
    color: #fff;
    font-size: 40px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu{
    transition: .2s;
}
ul li.ativo{
    background-color:  rgba(9, 24, 157, 0.875) ;
}
ul li.item-menu:hover{
    background: rgba(9, 24, 157, 0.875);
}
ul li.item-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    line-height: 60px;

}

ul li.item-menu a .txt-link{
    margin-left: 40px;
}

ul li.item-menu a .icon>i{
    font-size: 40px;
    margin-left: 10px;
}

